<div class="tab-content">
  <div class="tab-pane active" id="recent">
   <% recent.each do |item| %>
   <%= item.food.name %> </br>
   <% end %> 
  </div>

  <div class="tab-pane" id="frequent">
   <% frequent.each do |item| %>
   <%= item.food.name %> </br>
   <% end %> 
  </div>

  <div class="tab-pane" id="allmeals">
   <% if params[:meal] == "all" then %>
     <% frequent.each do |item| %>
       <%= item.food.name %> </br>
     <% end
      else 
        allmeal.each do |item| %>
         <%= item.food.name %> </br>
        <% end %>
     <% end %>
  </div>

</div> <!-- end .tab-content -->
