<div class="tab-content">
  <div class="tab-pane active" id="recent">
    LAST 5 RECENT FOOD
  </div>

  <div class="tab-pane" id="frequent">
    TOP 5 FREQUENT FOOD
  </div>

  <div class="tab-pane" id="allmeals">
   TOP 5 FREQUENT FOOD FROM ALL MEALS
  </div>

</div> <!-- end .tab-content -->
