<h3> Search the database: </h3>

<div class="search-form">
<form role="form" action="food/search/results" method="post">
  <div class="form-group">
    <input type="text" class="form-control" name="food_item" placeholder="Enter food name"/>
  </div> 
  <div class="search-db-button">  
     <button class="btn btn-default">Search</button>
  </div>
</form>
</div>

<div id="search-tabs">
<h3> Search from previous meals: </h3>
<div>
<ul class="nav nav-tabs">
  <li><a href="#recent" data-toggle="tab">Recent</a></li>
  <li><a href="#frequent" data-toggle="tab">Frequent</a></li>
  <li><a href="#allmeals" data-toggle="tab">All Meals</a></li>
</ul>

<%= render partial: 'user_meal_add', locals: {recent:@recent, frequent:@frequent, allmeal:@all} %>
</div>
</div>
