   <table id="calendar" class="table table-bordered"  width=100%>
    <thead id="calendarhead">
      <tr>
        <th id="prev_year"><<</th>
        <th id="prev_month"><</th>
        <th id="month_year" colspan=3></th>
        <th id="next_month">></th>
        <th id="next_year">>></th>
      </tr>
      <tr>
        <th id="weekday">Sun</th>
        <th id="weekday">Mon</th>
        <th id="weekday">Tue</th>
        <th id="weekday">Wed</th>
        <th id="weekday">Thu</th>
        <th id="weekday">Fri</th>
        <th id="weekday">Sat</th>
      </tr>
    </thead>
    <tbody id="t_body"></tbody>
  </table>

