
<table class="calendar table table-bordered">
 <thead>
  <tr> 
    <td> <a id="prev_year"><<</a> </td>
    <td> <a id="prev_month"> < </a> </td>
    <td id="month" colspan="3"> </td>
    <td> <a id="next_month">></a> </td>
    <td> <a id="next_year"> >> </a></td>
  </tr>
  <tr id="days_of_week">
    <td > Sunday </td>
    <td > Monday </td>
    <td > Tuesday </td>
    <td > Wednesday </td>
    <td > Thursday </td>
    <td > Friday </td>
    <td > Saturday </td>
  </tr>
</thead>
 <tbody id="calendar">
 </tbody>
</table>
