<<<<<<< HEAD
<html>
 <head>
    <title>Calendar</title>
 </head>
 <body>
   <br>
   <table id="calendar" border="1px" width=100%>
    <thead id="calendarhead">
      <tr>
        <th id="prev_year"><<</th>
        <th id="prev_month"><</th>
        <th id="month_year" colspan=3></th>
        <th id="next_month">></th>
        <th id="next_year">>></th>
      </tr>
      <tr>
        <th id="weekday">Sun</th>
        <th id="weekday">Mon</th>
        <th id="weekday">Tue</th>
        <th id="weekday">Wed</th>
        <th id="weekday">Thu</th>
        <th id="weekday">Fri</th>
        <th id="weekday">Sat</th>
      </tr>
    </thead>
    <tbody id="t_body"></tbody>
  </table>

  <br>
    
  </body>
</html>
=======

<table class="calendar table table-bordered">
 <thead>
  <tr> 
    <td> <a id="prev_year"><<</a> </td>
    <td> <a id="prev_month"> < </a> </td>
    <td id="month" colspan="3"> </td>
    <td> <a id="next_month">></a> </td>
    <td> <a id="next_year"> >> </a></td>
  </tr>
  <tr id="days_of_week">
    <td > Sunday </td>
    <td > Monday </td>
    <td > Tuesday </td>
    <td > Wednesday </td>
    <td > Thursday </td>
    <td > Friday </td>
    <td > Saturday </td>
  </tr>
</thead>
 <tbody id="calendar">
 </tbody>
</table>
>>>>>>> d185f359c32dfe61d144ea4e8c062f6e00a6914c
