<h1>My Grocery Lists</h1>
<table width="40%">

<% @lists.each do |list| %>
<tr>
  <td>
    <li><%=link_to list.list_id, list %></li>
  </td>
  <td>
    created on <b><%= list.date %></b> &nbsp 
  [<%= link_to "X", list, method: :delete %>]
  </td>
    
  </tr>
<% end %>

</table>

<%= render partial:'grocery_list'%>