<% for user in @users %>
  <div>
   <p>
    <strong><%= user.name %></strong>
    <% if @friends.exists?(:friend_id => user.id) == nil %>
      (Friends)
    <% else %>
    <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
    <% end %>
   </p>
  </div>
<% end %>
