<h1>Help</h1>
<ul>
<li> <strong> What is this site about? </strong> 
     <blockquote> We provide you an easy way to manage your daily meals without going over your daily calorie value. <br>
     You can search our food database and view the nutriotional info. If you can't find what you are looking for, don't worry! You create a new food item and save it to our database. <br>
    You can create a grocery list to help you on your next shopping! Find friends and share your meals and progress</blockquote>
</li>
</ul>
