</div>
<div id="home-img">
</div>

<div id="home-info">
  <div class="container">
    <div class="row">
      <div class="span4" style="text-align:center;">
         <i class="fa fa-list" style="font-size: 3em;"></i><br>
         <strong> Manage your food.</strong><br>
         Track the foods you eat to help easy and quickly. <br>
   Search our database that is quickly growing everyday.<br>
      </div>
      <div class="span4" style="text-align:center;">
         <i class="fa fa-shopping-cart" style="font-size: 3em;"></i><br>
         <strong>Create grocery lists</strong><br>
         Prepare your shopping list in advance. <br>
   Create multiple lists to cater for specific events. 
      </div>
      <div class="span4" style="text-align:center;">
         <i class="fa fa-group" style="font-size: 3em;"></i><br>
         <b>Find friends</b><br>
         Share your progress. <br>
         Support and motivate one another.
      </div>
    </div>
  </div>
</div>
<%if !signed_in?%>
<div class="container" style="padding-top:20px;">
 <div class="row">
  <center>Get all the benefits for FREE. <br>
  <%= link_to "Sign up now!", '/signup', class: "btn btn-large btn-primary" %> </center>

  </div>
<% end %>
