</div>
<div class="container" id="gradient">

  <div id="main-carousel" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#main-carousel" data-slide-to="1"></li>
    <li data-target="#main-carousel" data-slide-to="2"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <center>
      <%= image_tag("fruits.png") %>
      </center>
    </div>
    <div class="item">
      <center>
      <%= image_tag("grocery.jpg") %>
     </center>
    </div>
    <div class="item">
      <center><%= image_tag("raspberry.jpg") %></center>
    </div>
  </div>
  <!-- Controls -->
  <a href="#main-carousel" data-slide="prev">

</a>
  <a  href="#main-carousel" data-slide="next">
</a>
</div>
</div>
<div class="container content">
<div class="center hero-unit">

  <%= link_to "Sign up now!", '/signup', class: "btn btn-large btn-primary" %>
</div>
<div>
