// Place all the styles related to the Food controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-form {
  width: 70%;
  float: left;
  margin: 0 auto;
  padding: 30px;
}

.search-db-button {
 padding-bottom: 10px;
 float: left;
}

#search-tabs {
 clear:both;
}
